<html>
  <head>
    <title>Chess</title>
    <style>
      .center {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1 class="center">Checkmate!</h1>
    <p class="center">
      <%= "#{color}'s win!" %>
    </p>
    <p class="center">
      Type "Restart" and click the "Restart!" button to start a new game!
    </p>
    <form class="center">
      <input type='text' name='restart' />
      <input type='submit' value='Restart!' />
    </form>
  </body>
</html>
