<html>
  <head>
    <title>Chess</title>
    <style>
      .center {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1 class="center">Checkmate!</h1>
      <p class="center">
        <%= "#{color}'s wins!" %>
      </p>
    <form class="center">
      <input type='text' name='start_game' />
      <input type='submit' value='Start New Game!' />
    </form>
  </body>
</html>
