<html>
  <head>
    <title>Chess</title>
    <style>
      .center {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1 class="center">Chess in Sinatra!</h1>
    <p class="center">Welcome to CLI Chess!</p>
    <p class="center">
      Instructions: Type in moves using coordinates.
    </p>
    <p class="center">
      For example: White can type 'b1 c3' to move
      the knight from its starting location, B1, to
      its final location, C3.
    </p>
    <p class="center">Uppercase and lowercase both work.</p>
    <p class="center">Type "Start" and click the button to begin!</p>
    <form class="center">
      <input type='text' name='start_game' />
      <input type='submit' value='Start New Game!' />
    </form>
    <p class="center">
      <%= not_bot_msg %>
    </p>
  </body>
</html>
