<html>
  <head>
    <title>Chess</title>
    <style>
      .center {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <p class="center">
      PRINT BOARD HERE!
    </p>
  </body>
</html>
