/*
  CSS and HTML from:
  http://designindevelopment.com/css/css3-chess-board/
  I have made small modifications to the above in this project.
*/
a {
	color:#000;
	display:block;
	font-size:35px;
	height:50px;
	position:relative;
	text-decoration:none;
	text-shadow:0 1px #fff;
	width:50px;
}
#chess_board {
  /*border: 5px solid #333;*/
  margin: 0 auto;
}
#chess_board td {
	background: #fff;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	width: 50px;
}
#chess_board tr:nth-child(odd) td:nth-child(even),
#chess_board tr:nth-child(even) td:nth-child(odd) {
	background: #ccc;
}
#chess_board #board-coord {
	background: #fff;
	border: none;
	height: 50px;
	width: 50px;
	text-align: center;
	font-weight: bold;
}
